.calendar {
  @include centered;
  width: $calendarWidth;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;

  & div {
    height: $cellSize;
    width: $cellSize;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    margin-right: $cellMargin;
    margin-bottom: $cellMargin;
    transition: background-color 0.5s, transform 0.5s;

    &:hover {
      background-color: pink;
      transform: translate(0, -20px);
    }
  }
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::before {
    content: "#{$i}";
  }
}

$days:
  0 mon,
  1 tue,
  2 wed,
  3 thu,
  4 fri,
  5 sat,
  6 sun;

@each $number, $day in $days {

  .calendar-#{$day} > div:nth-child(1) {
    margin-left: #{$number*($cellMargin+$cellSize)};
  }

}

@for $i from 28 through 31 {
  .calendar-#{$i} {
    & > div:nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
}
